;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]

 :dependencies [[re-frame "1.0.0"]
                [cider/cider-nrepl "0.24.0"]
                [refactor-nrepl "2.5.0"]
                [cljfmt "0.6.7"]]

 :dev-http {9090 "public/"}

 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:app {:output-dir "public/compiledjs"
        :asset-path "/"
        :target :browser
        :modules {:main {:init-fn markdownify.core/main!}}
        :devtools {:after-load markdownify.core/reload!}}}}
